
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="/static/sample.css"> <!-- Link to your CSS file for styling -->
</head>
<body>
    <header>
        <h1>My Online Store</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/getproduct">myproducts</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/addproduct">addproduct</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/users">userslist</a></li>
            </li>
            </ul>
        </nav>
    </header>
   
    <main>
        <!-- <section class="product">
            <img class="im" src="/static/images/Untitled.jpeg" alt="Product 1">
            <h2>Nike</h2>
            <p>Description of Product 1.</p>
            <p>Price: $20.00</p>
            <a href="" >Add to Cart</a>
        </section>

        <section class="product">
            <img class="im"   src="/static/images/Untitled2.jpeg" alt="Product 2">
            <h2>Trending</h2>
            <p>Description of Product 2.</p>
            <p>Price: $25.00</p>
            <button>Add to Cart</button>
        </section>
        <section class="product">
            <img class="im" src="/static/images/g.jpeg" alt="Product 3" height="250px">
            <h2>Adidas</h2>
            <p>Description of Product 2.</p>
            <p>Price: $30.00</p>
            <button>Add to Cart</button>
        </section>
     -->
        <!-- More product sections can be added here -->
    <img src="/static/images/website-template-preview-109962.jpg" alt="style " height="650px" width="1185px">
    </main>

   
</body>
</html>
