{{ define "top"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="/static/sample.css"> <!-- Link to your CSS file for styling -->
</head>
<body>
    <header>
        <h1>My Online Store</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/getproduct">myproduct</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/addproduct">addproduct</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </nav>
    </header>
   
{{ end }}


   
</body>
</html>
